<div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Cosa rappresenta</th>
				<th scope="col">com'era</th>
				<th scope="col">com'è</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>info toaster</td>
				<td><i class="rfgui-info-toaster"></i></td>
				<td><i class="fas fa-info-circle"></i></td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>cambio password</td>
				<td><i class="rfgui-changePwd"></i></td>
				<td><i class="fas fa-key"></i></td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>copia</td>
				<td><i class="rfgui-copy"></i></td>
				<td><i class="far fa-copy pr-2"></i><i class="fas fa-copy"></i></td>
			</tr>
			<tr>
				<th scope="row">4</th>
				<td>associa</td>
				<td><i class="rfgui-associate"></i></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">5</th>
				<td></td>
				<td><i class="rfgui-cfg-base"></i></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">6</th>
				<td></td>
				<td><i class="rfgui-cfg-PA-suspend"></i></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">7</th>
				<td></td>
				<td><i class="rfgui-cfg-PA-resume"></i></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">8</th>
				<td></td>
				<td><i class="rfgui-cfg-probe-send"></i></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">9</th>
				<td></td>
				<td><i class="rfgui-ok"></i></td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">11</th>
				<td>reset</td>
				<td><i class="rfgui-delete"></i></td>
				<td><i class="fas fa-eraser pr-2"></i> <i class="fas fa-backspace"></i></td>
			</tr>
			<tr>
				<th scope="row">10</th>
				<td>elimina</td>
				<td><i class="rfgui-delete"></i></td>
				<td><i class="far fa-trash-alt pr-2"></i> <i class="fas fa-trash-alt pr-2"></i> <i class="fas fa-trash"></i></td>
			</tr>
			<tr>
				<th scope="row">12</th>
				<td>modifica</td>
				<td><i class="rfgui-edit"></i></td>
				<td><i class="far fa-edit pr-2"></i> <i class="fas fa-edit"></i></td>
			</tr>
			<tr>
				<th scope="row">13</th>
				<td>dettaglio</td>
				<td><i class="rfgui-detail"></i></td>
				<td><i class="far fa-folder-open pr-2"></i> <i class="fas fa-folder-open"></i></td>
			</tr>
		</tbody>
	</table>












	<hr>
	<div class="title">lista icone aggiornabili</div>
	<small>Nel lato di sinistra l'icona attuale, a destra della descrizione la nuova proposta</small>
	<ul>
		<li>
			<i class="px-2 fa-lg border fas fa-th"></i>
			<label for="" class="px-2">Dashboard</label>
			<i class="px-2 pb-2 border fa-2x bi bi-grid-1x2-fill"></i>
			<i class="px-2 pb-2 border fa-2x bi bi-grid-1x2"></i>
			<i class="px-2 pb-2 border fa-2x bi bi-layout-wtf"></i>
		</li>
		<li>
			<i class="px-2 fa-lg border fas fa-file-alt"></i>
			<label for="" class="px-2">Log</label>
			<i class="px-2 pb-2 border fa-2x bi bi-receipt"></i>
		</li>
		<li>
			<i class="px-2 fa-lg border fas fa-bars fa-rotate-90"></i>
			<label for="" class="px-2">Personalizza colonne</label>
			<i class="px-2 pb-2 border fa-2x bi bi-layout-three-columns"></i>
		</li>
		<li>
			<i class="px-2 fa-lg border fas fa-chart-line"></i>
			<label for="" class="px-2">Soglie</label>
			<i class="px-2 pb-2 border fa-2x bi bi-option"></i>
		</li>
		<li>
			<i class="px-2 fa-lg border fas fa-clock"></i>
			<label for="" class="px-2">Scheduler</label>
			<i class="px-2 pb-2 border fa-2x bi bi-watch"></i>
			<i class="px-2 pb-2 border fa-2x bi bi-smartwatch"></i>
		</li>
		<li>
			<label for="" class="px-2">Protocol analisys</label>
			<i class="px-2 pb-2 border fa-2x fa-rotate45 bi bi-layer-backward"></i>
		</li>
	</ul>
</div>